#!upstart
description "MitreID Connect"
author      "Josh Mandel"

setuid {{username}}
setgid {{username}}

start on runlevel [2345]
stop on runlevel [!2345]

respawn
respawn limit 10 5

script
    chdir {{install_dir}}
    java \
       -DBASE_URL="{{auth_server_base}}/" \
       -DCONTEXT_FHIR_ENDPOINT="{{fhir_server_base}}"\
       -DCONTEXT_RESOLVE_ENDPOINT="{{app_server_base}}"\
       -Dldap.server="{{ldap_server_uri}}" \
       -Dldap.url="{{ldap_server_uri}}" \
       -Dldap.base="ou=People,{{ldap_server_base}}" \
       -Djetty.port="4000" \
       -Djetty.host="localhost" \
{% if (ldap_server_tls or fhir_server_secure_http) and not use_custom_ssl_certificates %}
       -Djavax.net.ssl.trustStore="{{install_dir}}/keystore" \
       -Djavax.net.ssl.trustStorePassword="{{keystore_password}}" \
{% endif %}
       -jar jetty-runner.jar \
       --config {{install_dir}}/jetty.xml \
       {{auth_server_war}}
end script
