{
  "clientId": "{{item.client_id}}",
  "clientName": "{{item.client_name}}",
  "logoUri": "{{item.logo_uri}}",
  "initiateLoginUri":"{{app_server.public.base}}/{{item.launch_uri|default("null")}}",
  "redirectUris": ["{{app_server.public.base}}/{{item.redirect_uri}}"],
  "scope": [
    "launch",
    "user/*.*",
    "patient/*.read",
    "smart/orchestrate_launch",
    "openid",
    "address",
    "email"
  ],
  "clientDescription": null,
  "grantTypes": ["implicit"],
  "accessTokenValiditySeconds": 3600
} 
