{
  "clientId": "{{item.client_id}}",
  "clientName": "{{item.client_name}}",
  "logoUri": "{{item.logo_uri}}",
  "initiateLoginUri":"{{app_server.public.pretty}}{{item.launch_uri|default("null")}}",
  "redirectUri": ["{{app_server.public.pretty}}{{item.redirect_uri}}"],
  "scope": [
    "launch",
    "user/*.*",
    "patient/*.read",
    "smart/orchestrate_launch",
    "openid",
    "address",
    "email"
  ],
  "clientDescription": null,
  "grantTypes": ["implicit"]
} 
