{ "clientId": "fhir_starter_2", "clientName": "FHIR Starter {{java_home_dir}}", "logoUri": null, "initiateLoginUri": "https://app/launch.html", "scope": [ "user/*.*", "smart/orchestrate_launch" ], "clientDescription": null } 
