upstream oidc {
    server 127.0.0.1:4000;
}

# the nginx server instance
server {
{% if auth_server_host %}
    server_name {{auth_server_host}};
{% endif %}
{% if auth_server_port %}
    listen {{auth_server_port}};
{% else %}
    listen {{'443' if auth_server_secure_http else '80'}};
{% endif %}

    location / {
      proxy_set_header X-Real-IP $remote_addr;
      proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_set_header Host $http_host;
      proxy_set_header X-NginX-Proxy true;

      access_log /var/log/nginx/oidc_access.log;
      proxy_pass http://oidc;
      proxy_redirect off;
    }

{% if auth_server_secure_http %}
    ssl on;
    ssl_certificate /etc/nginx/ssl/server.crt;
    ssl_certificate_key /etc/nginx/ssl/server.key;
{% endif %}
}