server {
{% if app_server_host %}
    server_name {{app_server_host}};
{% endif %}

    listen {{app_server_port}};

    location / {
       root {{install_dir}}/fhir-starter/static;
    }

{% if app_server_secure_http %}
    ssl on;
    ssl_certificate /etc/nginx/ssl/apps.crt;
    ssl_certificate_key /etc/nginx/ssl/apps.key;
{% endif %}
}