#!upstart
description "MitreID Connect"
author      "Josh Mandel"

start on runlevel [2345]
stop on runlevel [!2345]

respawn
respawn limit 10 5

script
    chdir {{install_dir}}
    java \
       -DBASE_URL="{{auth_server.base_url}}" \
       -Dldap.server="{{ldap_server.uri}}" \
       -Dldap.url="{{ldap_server.uri}}" \
       -Dldap.base="ou=People,{{ldap_server.base}}" \
       -jar jetty-runner.jar --host localhost --port 4000 \
       ldap-openid-connect-server/ldap-server-overlay/target/ldap-openid-connect-server.war
end script