#!upstart
description "MitreID Connect"
author      "Josh Mandel"

setuid {{username}}
setgid {{username}}

start on runlevel [2345]
stop on runlevel [!2345]

respawn
respawn limit 10 5

script
    chdir {{install_dir}}
    java \
       -DBASE_URL="{{auth_server_base}}" \
       -DCONTEXT_FHIR_ENDPOINT="{{fhir_server_base}}"\
       -Dldap.server="{{ldap_server_uri}}" \
       -Dldap.url="{{ldap_server_uri}}" \
       -Dldap.base="ou=People,{{ldap_server_base}}" \
       -jar jetty-runner.jar --host localhost --port 4000 \
       {{auth_server_war}}
end script
